<div class="sidebar d-flex flex-column">
    <h1>
        <a href="#" class="logo"
            style="background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg); background-repeat: no-repeat;">
            answer
        </a>
    </h1>
    <ul class="nav d-flex flex-column flex-grow-1">

        <li class="item w-100">
            <a href="#" class="nav-link d-flex py-0">
                <span class="material-symbols-outlined icon me-1 d-block">
                    insert_chart
                </span>
                <p class="text mb-0">Dashboard</p>
            </a>
        </li>

        <li class="item w-100">
            <a href="#" class="nav-link d-flex py-0">
                <span class="material-symbols-outlined icon me-1 d-block">
                    forum
                </span>
                <p class="text mb-0">Question</p>
            </a>
        </li>
        <li class="item w-100">
            <a href="#" class="nav-link d-flex py-0">
                <span class="material-symbols-outlined icon me-1 d-block">
                    assignment
                </span>
                <p class="text mb-0">Assignment</p>
            </a>
        </li>
        <li class="item w-100">
            <a href="#" class="nav-link d-flex py-0">
                <span class="material-symbols-outlined icon me-1 d-block">
                    video_library
                </span>
                <p class="text mb-0">course</p>
            </a>
        </li>
        <li class="item w-100">
            <a href="#" class="nav-link d-flex py-0">
                <span class="material-symbols-outlined icon me-1 d-block">
                    group
                </span>
                <p class="text mb-0">admin</p>
            </a>
        </li>
        <li class="item w-100">
            <a href="#" class="nav-link d-flex py-0">
                <span class="material-symbols-outlined icon me-1 d-block">
                    settings
                </span>
                <p class="text mb-0">settings</p>
            </a>
        </li>

    </ul>
    <div class="user-wrap d-flex align-items-center">
        <a href="#" class="user-photo d-block rounded-circle"><img class="w-100"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
                alt="user photo"></a>
        <div class="user-info">
            <p class="name mb-0">Andy Chen</p>
            <p class="email mb-0">andy0401@mail.com</p>
        </div>
    </div>
</div>